.selectable-button {
    transition: transform .2s, background .2s;
    margin: 5px;
    text-transform: uppercase;
    height: 44px;
    border-radius: 10px;
    background: #e89b0d;
    color: white;
    font-weight: 500;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Courier", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.selectable-button:hover {
    background: #d69111;
}

.selectable-button:active {
    transform: scale(1.02);
}


.button-container {
    padding: 20px 20px;
    max-width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    background: rgba(165, 163, 163, 0.1);
    border-radius: 10px;
    box-shadow: inset 0px 0px 11px 0px #919494;
}

