{{type}}

{{!-- this could be a nav component? --}}
<div class="links">
    {{#each model as |workoutOption|}}
        {{#link-to (query-params type=workoutOption.id) title=workoutOption.title}}
            {{workoutOption.abbreviatedTitle}}
        {{/link-to}}
    {{/each}}
</div>
