{{currentWorkout.title}}

{{!-- this could be a nav component? --}}
<div class="links">
    {{#each model as |workoutOption|}}
        {{#link-to (query-params type=workoutOption.id) title=workoutOption.title}}
            {{workoutOption.abbreviatedTitle}}
        {{/link-to}}
    {{/each}}
</div>

{{#each workoutSets as |set index|}}
    {{workout-set
        set=set
        type=type
        index=index
        removeSet="removeSet"
    }}
{{/each}}

{{selectable-button
    text="add set"
    isDarkThemed=true
    select="addSet"
}}
