<div>
    <h2>Add A New Workout</h2>

    {{outlet}}
{{!--     {{#if isTypeOfWorkoutSelected}}
        selected a workout
    {{else}}
        <div class="button-container">
            {{#each model as |workoutOption|}}
                {{selectable-button
                    text=workoutOption.title
                    id=workoutOption.id
                    select="selectWorkout"
                }}
            {{/each}}
        </div>
    {{/if}} --}}
</div>