<div>
  <h2>Select A Workout</h2>
  {{#unless isTypeOfWorkoutSelected}}
    <div class="button-container">
        {{#each model as |workoutOption|}}
            {{selectable-button
                text=workoutOption.title
                id=workoutOption.id
            }}
        {{/each}}
    </div>
  {{/unless}}
</div>